36a37,44
>    edu.vt.middleware.ldap.jaas.LdapLoginModule required
>       ldapUrl="LdApUrI"
>       base="LdApBaSeDn"
>       bindDn="LdApCrEdS"
>       bindCredential="LdApPaSsWoRd"
>	tls="true"
>       userField="samaccountname"
>       subtreeSearch="SuBsEaRcH";
>    
